/*basic styling for elements in the page*/
body {
    font-family: 'Cutive Mono', monospace;
    background-color: #f4f3ef;
}

h1 {
    text-align: center;
    color: #4C3E36;
    font-weight: bold;
    font-size: clamp(24px, 8vw, 60px); /* responsive font size between 24px and 60px depending on viewport width */
}

header {
    background-color: #BC8980;
    padding: 20px;
    margin-bottom: 30px;
}
header .controls {
    display: flex; /* using flexbox to arrange label, input and button -> children of .controls */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header label, header button, header input {
    color:#4C3E36;
    font-weight: bold;
    font-family: 'Cutive Mono', monospace;
}

header label {
    font-size: 20px;
}

header button {
    font-size: 20px;
    padding: 5px 15px;
    background-color: #f4f3ef;
    border-color: #4C3E36;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #e0dcd5;
}

header input {
    font-size: 15px;
    padding: 5px 10px;
    background-color: #f4f3ef;
    border-color: #4C3E36;
    border-radius: 5px;
}

main > div {
    height: 80px;
    width: 110px;
    display: flex; /* using flexbox to center content inside the boxes (div only child is text) */
    justify-content: center;
    align-items: center;
    border: 2px solid #4C3E36;
    font-size: 20px;
    font-weight: bold;
    color: #4C3E36;
    box-sizing:border-box;
    transition: transform 0.2s;
}
main > div:hover {
    transform: scale(1.05);
}
/* different background colors for Fizz, Buzz and FizzBuzz, and numbers */
.fizz {
    background-color: #A5A78F;
}
.buzz {
    background-color: #677C5F;
}
.fizzbuzz {
    background-color: #EBDFE4;
}
.number {
    background-color: #e6beae;
}
/* grid layout for main content - starting with mobile */
#maingrid {
    display: grid; /*using css grid -> turning main into a grid container*/
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); /* autofit instead of 1 column to not waste space, columns min 110px wide, max 1fr */
    gap: 5px;
    padding: 10px;
}
/* media for tablets 576px-> no changes in grid layout -> leaving autofit instead of hard coding 5 columns for smoother transition between media but result is around 5 columns for tablets*/

/* media for desktops */
@media (min-width: 992px) {
    #maingrid {
        grid-template-columns: repeat(10, 1fr); /* 10 columns for desktops, 10 rows */
    }
}