/*Basic styling for elements in the page*/
body {
    font-family: 'Cutive Mono', monospace;
    background-color: #f4f3ef;
}

h1 {
    text-align: center;
    color: #4C3E36;
    font-weight: bold;
    font-size: 60px;
}

header {
    background-color: #BC8980;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    /* is header responsive? */
}

header > div > label {
    font-size: 20px;
    font-weight: bold;
    color:#4C3E36;
}

header > div > button {
    font-size: 20px;
    padding: 5px 15px;
    background-color: #f4f3ef;
    border-color: #4C3E36;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    color:#4C3E36;
}

header > div > button:hover {
    background-color: #e0dcd5;
}

header > div > input {
    font-size: 15px;
    padding: 5px 10px;
    background-color: #f4f3ef;
    border-color: #4C3E36;
    border-radius: 5px;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    color:#4C3E36;
}

main > div {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4C3E36;
    font-size: 20px;
    font-weight: bold;
    color: #4C3E36;
    box-sizing:border-box;
}
/* Different background colors for Fizz, Buzz and FizzBuzz */
.fizzclass {
    background-color: #A5A78F;
}
.buzzclass {
    background-color: #677C5F;
}
.fizzbuzzclass {
    background-color: #EBDFE4;
}
.numberclass {
    background-color: #F4F3EF;
}
/* Grid layout for main content */